BOT_TOKEN=gygyhghgbgg
ADMIN_ID=30785558


# Настройки словаря (опционально)
DICTIONARY_FILE=dictionary.xlsx
FUZZY_THRESHOLD=0.7
MAX_SUGGESTIONS=5

# Файлы для хранения данных (опционально)
USERS_FILE=users.json
FEEDBACK_FILE=feedback.json
